<div>
	<h1><i class="icon-road"></i>Parkzy</h1>
	<p>Easily rent and find vacant parking. Connecting condo tenants and owners with professionals. Condo tenants, rent out your parking stall. Professionals, find a closer spot to work.</p>
	<p> 
		<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
	</p>
</div>
